version: "2"

services:
  nginx:
    container_name: {{ nginx_name }}
    build:
      context: .
    restart: always
    volumes:
      - {{ nginx_directory }}/default.conf:/etc/nginx/conf.d/default.conf
    ports:
      - 80:80
    networks:
      - webnet
 
  php:
    container_name: {{ php_name }}
    build:
      context: .
    restart: always
    expose:
      - 9000
    networks:
      - webnet

  mysql:
    container_name: {{ mysql_name }}
    build:
      context: .
    environment:
      MYSQL_ROOT_PASSWORD: {{ mysql_pass }}
      MYSQL_DATABASE: {{ mysql_base }}
      MYSQL_USER: {{ mysql_user }}
      MYSQL_PASSWORD: {{ mysql_pass }}
    restart: always
    expose:
      - 3306
    networks:
      - webnet

networks:
  webnet:
    name: webnet


